@{
    Layout = null;
}


<li class="list-separated-item">
    <div class="row align-items-center">
        <div class="col-auto">
            <span class="avatar avatar-md d-block" style="background-image: url('https://scontent-sin6-2.cdninstagram.com/vp/2f0e83182f69824788cfa15594036063/5B9DDC7E/t51.2885-19/s150x150/32010199_233895863833027_8818305304572723200_n.jpg')"></span>
        </div>
        <div class="col">
            <div>
                <a href="javascript:void(0)" class="text-inherit">Amanda Hunt</a>
            </div>
            <small class="d-block item-except text-sm text-muted h-1x">amanda_hunt@example.com</small>
        </div>
        <div class="col-auto">
            <div class="item-action dropdown">
                <a href="javascript:void(0)" data-toggle="dropdown" class="icon"><i class="fe fe-more-vertical"></i></a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-tag"></i> Unfollow </a>
                    <a href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-edit-2"></i> Another action </a>
                </div>
            </div>
        </div>
    </div>
</li>