 

<div class="row row-cards">
    @for (int i = 0; i < 30; i++)
    {
        @Html.Partial("UserPhotosThreeColumnsTemplate")
    }
</div>

@section Scripts{
    <script>


        require(['jquery'], function(){
           $(document).ready(function () {
                $("#explorelink").addClass("active");
            });
        });

    </script>
}