
<div class="row">
    <div class="col-lg-8">
        @for (int i = 0; i < 20; i++)
        {
            @Html.Partial("_FollowingPost")
        }

    </div>
    <div class="col-lg-4 parent-container">


        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Following</h3>
            </div>
            <div class="card-body o-auto" style="height: 30rem">
                <ul class="list-unstyled list-separated">

                    @for (int i = 0; i < 20; i++)
                    {
                        @Html.Partial("_FollowingUserItems")
                    }
                </ul>
            </div>
        </div>

    </div>

</div>
@section Scripts{
    <script>


        require(['jquery'], function(){
           $(document).ready(function () {
                $("#homelink").addClass("active");
            });
        });


        require(['magnific-popup'], function(){
          $('.parent-magnific-popup').magnificPopup({
              delegate: 'a', // child items selector, by clicking on it popup will open
              type: 'image'
              // other options
            });
        });
 
    </script>
}