 
@{
    Layout = null;
   
}
<button type="button" data-toggle="modal" data-target="#exampleModalLong" class="btn btn-lg btn-pill  btn-info"><i class="fe fe-image mr-2"></i> Add Post </button>
@Html.Partial("_AddPostDialog")