@{
    Layout = null;
}

<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Add Post</h5>
            </div>
            <div class="modal-body card-body">
                <div class="dimmer" id="addpostcontent">
                    <div class="loader"></div>
                    <form id="addPostForm" method="post" class="dimmer-content">
                        <div class="form-group">
                            <label class="form-label">Comments</label>
                            <textarea rows="1" class="form-control" name="comments" placeholder="Here can be your description" value="Mike" style="margin-top: 0px; margin-bottom: 0px; height: 165px;"></textarea>

                        </div>
                        <div class="form-group">
                            <div class="form-label">Choose your Photo:</div>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" name="qqfile" onchange="previewImage(this,[300],4);">
                                <label class="custom-file-label"></label>
                                <div class="imagePreview"></div>
                            </div>
                        </div>
                        <div class="col-6 col-sm-4">
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-lg btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-lg btn-primary btn-post disabled" disabled="disabled"><i class="fe fe-upload mr-2"></i>Post</button>
            </div>
        </div>
    </div>
</div>
@*<script>
        require(['jquery'], function () {
            $(document).ready(function () {
                $('.btn-post').click(function () {
                    console.log("adding post.");
                    var url = '@Url.Action("AsyncUpload","Common")';
                    var formData = new FormData($("#addPostForm")[0]);
                    $.ajax({
                        method: 'post',
                        url: url,
                        data: formData,
                        dataType: "application/json",
                        processData: false,
                        contentType: false,
                        success: function (data) {
                            var d = JSON.parse(data.responseText);
                            if (d.success) {
                                location.reload();
                            }
                        }, //End of AJAX Success function  

                        failure: function (data) {
                            console.log(data);
                        }, //End of AJAX failure function  
                        error: function (data) {
                            console.log(data);
                        } //End of AJAX error function  
                    });
                });
            });
        });
</script>*@