
@{
    Layout = null;
}
<button type="button" data-toggle="modal" data-target="#exampleModalLong" class="btn  btn-pill  btn-info">Add Post</button>
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Add Post</h5>
            </div>
            <div class="modal-body">
                <form id="addPostForm" method="post">
                    <div class="form-group">
                        <label class="form-label">Comments</label>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="" name="comments" aria-describedby="basic-addon1">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-label">Choose your Photo:</div>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" name="qqfile">
                            <label class="custom-file-label">Picture name</label>
                        </div>
                    </div>
                    <div class="col-6 col-sm-4">
                        <label class="imagecheck mb-4">
                            <input name="imagecheck" type="checkbox" value="5" class="imagecheck-input">
                            <figure class="imagecheck-figure">
                                <img src="@Url.Content("lib/tabler/dist/demo/photos/priscilla-du-preez-181896-500.jpg")" alt="}" class="imagecheck-image">
                            </figure>
                        </label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary btn-post">Post</button>
            </div>
        </div>
    </div>
</div>

<script>
        require(['jquery'], function () {
            $(document).ready(function () {
                $('.btn-post').click(function () {
                    var formData = new FormData($("#addPostForm")[0]);
                    $.ajax({
                        method: 'post',
                        url: 'Common/AsyncUpload',
                        data: formData,
                        processData: false,
                        contentType: false,
                        success: function (data) {

                        }
                    });

                });
            });
        });
</script>