<ul class="mfb-component--br mfb-slidein">
    <li class="mfb-component__wrap">
        <a href="#" data-toggle="modal" data-target="#exampleModalLong" data-mfb-label="Add Photo" class="mfb-component__button--main floatbutton">
            <i class="mfb-component__main-icon--resting ion-plus-round"></i>
        </a>
    </li>
</ul>