@using GrapePhoto.Web.Models.Account
@model ChangePasswordViewModels
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_LayoutWithLogoHeader.cshtml";
}

<div class="row">
    <div class="col-lg-4">
        <div class="card">
            <ul class="list-group">
                <li class="list-group-item"><a href="Edit"><i class="fe fe-settings mr-3"></i>Edit Profile</a></li>
                <li class="list-group-item active"><a href="#"><i class="fa fa-key mr-3"></i> Change Password</a></li>
            </ul>
        </div>
    </div>
    <div class="col-lg-8">
        @if(ViewBag.Message!= null){
        <div class="alert alert-success  alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert"></button>
            <i class="fe fe-check mr-2" aria-hidden="true"></i> @ViewBag.Message
        </div>
        }

        <form class="card" method="post">
            <div class="card-body">
                <h3 class="card-title">Change Password</h3>
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <div class="form-group">
                            <label class="form-label" asp-for="OldPassword"></label>
                            <input asp-for="OldPassword" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12">
                        <div class="form-group">
                            <label class="form-label" asp-for="NewPassword"></label>
                            <input asp-for="NewPassword" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12">
                        <div class="form-group">
                            <label class="form-label" asp-for="ConfirmedPassword"></label>
                            <input asp-for="ConfirmedPassword" class="form-control">
                        </div>
                    </div>
                    <div asp-validation-summary="All" class="text-danger"></div>
                </div>
            </div>
            <div class="card-footer text-right">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>

    </div>
</div>